/* *
 * Table of Contents:
 *
 * 1.0 - Variables
 * 2.0 - Basic Structure
 * 3.0 - Header
 * 4.0 - Navigation
 * 5.0 - Main
 * 6.0 - Aside
 * 7.0 - Sidebar
 * 8.0 - Footer
 * 9.0 - Media Queries
 * -----------------------------------------------------------------------------
 */


/**
 * 1.0 Variables
 * -----------------------------------------------------------------------------
 */

  :root {
  --GRID-GAP: 15px;
  --BORDER-WIDTH1: 10px;
  --BORDER-WIDTH2: 0.5px;
  --LINE-WIDTH: 5px;

  --COLOR-1: #336699;
  --COLOR-2: #EBEBEB;
 }


/**
 * 2.0 Basic Structure
 * -----------------------------------------------------------------------------
 */

 h1, 
 h3, 
 h4,
 h5,
 h6,
 .nav-link {
  margin: 0px;
  font-family: Abel, Helvetica, sans-serif;
  line-height: 1.2;
 }

 h2 {
  margin: 0px;
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 550;
  line-height: 1.2;
 }

p, 
small {
  font-family: Quattrocento, Times, serif;
}


 body {
  /** place content **/
  display: grid;
  /* columns: spacing, content, aside, spacing */
  grid-template-columns: 1fr min(700px, 70%) 200px 1fr;
  /* rows: header, content + aside, spacing, footer */
  grid-template-rows: auto auto auto auto;
  grid-gap: var(--GRID-GAP);
  min-height: 100vh;
 }

 img {
  width: 100%;
 }

 a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--COLOR-1);
}

 /**
 * 3.0 Header
 * -----------------------------------------------------------------------------
 */

 header {
  /** place content **/ 
  /** place header **/
  border-bottom: 4px solid black;
  grid-column: 2/4;
  grid-row: 1;
  padding-top: 30px;
  padding-bottom: 30px;
 }

 .header-title {
  text-align: center;
  padding: 20px 0 20px 0;
 }

 /**
 * 4.0 Navigation
 * -----------------------------------------------------------------------------
 */

 .nav {
  /* remove bullets */
  list-style-type: none;
  /* remove browser default */
  padding: 0;
  margin: 0;
  overflow: hidden;
 }

 .nav-item {
  /* make nav horizontal */
  float: left;
  padding: 2px 5px 2px 5px;
  margin-right: 10px;
  padding-left: 0px;
 }

 .nav-item--right {
  float: right;
  margin-right: 0px;
 }

 .nav-link:hover:not(.active){
  color: var(--COLOR-1);
 }

.active {
  color: var(--COLOR-1);
  border-bottom: 2px solid var(--COLOR-1);
}

/** menu container for small screens **/
.small-nav {
  display: none;
}

/**
 * 5.0 Main
 * -----------------------------------------------------------------------------
 */

main {
  grid-column: 2;
  grid-row: 2;  
}

.resume {
  width: 100%;
  height: 70vw;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}



/**
 * 6.0 Aside
 * -----------------------------------------------------------------------------
 */

 aside {
  /** place aside **/
  grid-column: 3;
  grid-row: 2;
 }

 .about-me__wrapper {
  display: none;
  text-align: center;
  width: 100%;
 }

 .aside__content {
  /* display content */ 
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
 }

 .bio-title__wrapper {
  /* display content */
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border */
  margin-bottom: 10px;
 }

 .bio-title {
  font-size: 1.8em;
 }

 .bio-img__wrapper {
  /* display content */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
 }

 .bio-txt__wrapper {
  margin-bottom: 0px;
  border-bottom: 2px solid black;
 }

.social__wrapper {
  display: flex;
  padding: 8px 0 8px 0;
  justify-content: center;
  width: 100%;
  border-top: 2px solid black;
}

.social {
  display: block;
  font-size: 2em;
  margin-right: 10px;
  margin-left: 10px;
}

/**
 * 8.0 Footer
 * -----------------------------------------------------------------------------
 */

 footer {
  /** place content **/ 
  /** place footer **/
  grid-column: span 4;
  grid-row: 4;
  border-top: 2px solid black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 18px;
 }

/**
 * 9.0 Media Queries
 * -----------------------------------------------------------------------------
 */

 @media only screen and (min-width: 769px) {
  .responsive {
    display: block;
  }
}


 @media only screen and (max-width: 768px) {

  body {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

 footer {
    width: 100%;
  }

  aside,
  header,
  main {
    width: 90%; 
  }

  aside {
    border-top: 4px solid black;
    padding-top: var(--GRID-GAP);
  }

  .about-me__wrapper {
    display: block;
  }

  .aside__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .bio-title__wrapper {
    display: none;
  }

  .bio-img__wrapper {
    min-width: 150px;
    margin-right: 30px;
  }

  .txt-social__wrapper {
    max-width: 220px;
  }
  
  .responsive {
    display: none;
  }

  .nav {
    margin-top: 10px;
  }

  .nav-item {
    float: none;
    margin-bottom: 10px;
  }

  .small-nav {
    display: flex;
    justify-content: space-between;
  }

  .small-nav__name {
    font-size: 2.0em;
  }

  .resume {
    height: 100vw;
  }
 }
